.note {
	position: relative;
	flex: 0 0 max(47%, 200px);
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 1px 3px 5px rgba(0,0,0,.4);
	border-radius: 5px;
	margin: .5rem .2rem;
	padding: .25rem .75rem;
	transition-property: box-shadow, transform;
	transition-duration: .2s;
	&__options-list {
		position: absolute;
		width: 20%;
		right: .75rem;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;		
	}
	&__remove {
		font-size: 1rem;
		left: calc(100% - 1.5rem);
		transform: translateY(-50%);
		transition-property: color, transform;
		transition-duration: .2s;
		&:hover {
			cursor: pointer;
			color: red;
			transform: translateY(-50%) scale(1.1);
		}
		&:active {
			transform: translateY(-50%) scale(.95);
		}
	}
	&__edit {
		display: block;
		font-size: 1rem;
		transition-property: color, transform;
		transition-duration: .2s;
		&:hover {
			cursor: pointer;
			color: lightgreen;
			transform: scale(1.1);
		}
		&:active {
			transform: scale(.95);
		}
	}
	&__title {
		word-wrap: break-word;
		width: 70%;
		flex: 0 0 auto;
		font-size: 1rem;
	}
	&__desc {
		flex: 1 0 auto;
		font-size: .75rem;
		width: 100%;
		word-wrap: break-word;
	}
	&__date {
		flex: 0 0 auto;
		width: 100px;
		font-size: .55rem;
		text-align: right;
		color: #777777;
		align-self: flex-end;
	}
	&:hover {
		transform: scale(1.05);
		box-shadow: 3px 5px 8px rgba(0,0,0,.4);
	}
}