.new-note {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	h2 {
		align-self: flex-start;
		font-size: 1.25rem;
	}
	&__title, &__desc {
		width: max(47%, 200px);
		margin: .5rem 0;
		padding: .25rem .75rem;
		border-radius: 5px;
		border: none;
		transition-property: color, box-shadow;
		transition-duration: .2s;
		&:hover, &:focus {
			outline: none;
			box-shadow: 0 0 5px 3px lightblue;
			color: blue;
		}
	}
	&__desc {
		font-family: inherit;
		resize: vertical;
		min-height: 50px;
		max-height: 200px;
	}
	&__add {
		width: max(47%, 200px);
		margin: .5rem 0;
		padding: .25rem .75rem;
		font-size: .8rem;
		border: solid 1px rgb(124, 255, 107);
		border-radius: 5px !important;
		background: white !important; 
		color: rgb(88, 179, 76);
		transition-property: color, background-color, transform;
		transition-duration: .2s;
		&:hover, &:active, &:focus {
			color: white;
			background-color: rgb(124, 255, 107) !important; 
			cursor: pointer;
			outline: none;
		}
		&:active {
			transform: scale(.95);
		}
	}
}
